#!/bin/bash

SOURCE_DIR="{{ container_data_directory }}"
BACKUP_DIR="{{ backup_directory }}"
LOG_DIR="{{ container_log_directory }}"
RETENTION_DAYS=14  # Number of days to keep backups

mkdir -p "$LOG_DIR"

TIMESTAMP=$(date +"%Y%m%d-%H%M")
LOG_FILE="$LOG_DIR/backup_$TIMESTAMP.log"

log_message() {
    echo "$(date +'%Y-%m-%d %H:%M:%S') - $1" >> "$LOG_FILE"
    if [ -t 1 ]; then
        echo "$(date +'%Y-%m-%d %H:%M:%S') - $1"
    fi
}

log_error() {
    log_message "ERROR: $1"
}

log_message "Backup process started"

if [ ! -d "$SOURCE_DIR" ]; then
    log_error "Source directory does not exist: $SOURCE_DIR"
    exit 1
fi

if [ ! -d "$BACKUP_DIR" ]; then
    mkdir -p "$BACKUP_DIR" || { log_error "Failed to create backup directory: $BACKUP_DIR"; exit 1; }
fi

successful_backups=0
failed_backups=0

for container in "$SOURCE_DIR"/*; do
    if [ -d "$container" ]; then
        container_name=$(basename "$container")
        log_message "Processing container: $container_name"
        
        backup_container_dir="$BACKUP_DIR/$container_name/container_data"
        if ! mkdir -p "$backup_container_dir"; then
            log_error "Failed to create backup subdirectory for $container_name"
            ((failed_backups++))
            continue
        fi
        
        backup_file="$backup_container_dir/$container_name-$TIMESTAMP.tgz"
        log_message "Creating backup: $backup_file"
        
        if sudo tar -czf "$backup_file" -C "$SOURCE_DIR" "$container_name"; then
            log_message "Backup created successfully for $container_name"
            ((successful_backups++))
        else
            log_error "Failed to create backup for $container_name"
            ((failed_backups++))
        fi
        
        if [ -f "$backup_file" ]; then
            backup_size=$(du -h "$backup_file" | cut -f1)
            log_message "Backup size for $container_name: $backup_size"
        else
            log_error "Backup file not found: $backup_file"
        fi

        # Delete old backups
        log_message "Deleting backups older than $RETENTION_DAYS days for $container_name"
        find "$backup_container_dir" -name "$container_name-*.tgz" -type f -mtime +$RETENTION_DAYS -delete
        delete_status=$?
        if [ $delete_status -eq 0 ]; then
            log_message "Old backups deleted successfully for $container_name"
        else
            log_error "Failed to delete old backups for $container_name"
        fi
    fi
done

log_message "Backup process completed"
log_message "Successful backups: $successful_backups"
log_message "Failed backups: $failed_backups"

disk_space=$(df -h "$BACKUP_DIR" | awk 'NR==2 {print $4}')
log_message "Remaining disk space in backup directory: $disk_space"

if [ $failed_backups -gt 0 ]; then
    log_error "Some backups failed. Please check the log for details."
    exit 1
fi

exit 0
