{
  "log-driver": "journald",
  "log-opts": {
    "tag": "{% raw %}{{.Name}}{% endraw %}"
  }
  {% if docker_additional_options is defined %}
  {{ docker_additional_options | to_nice_json | indent(2) }}
  {% endif %}
}